:root {
	--mainColor: #15202B;
	--secondaryColor: #192734;

	--borderColor: #164D56;

	--mainText: #fff;
	--secondaryTest: #eeeeee;

	--themeDotBorder: #FFF;

	--preVieBg: rgb(25, 39, 52, 0.8);
	--previewShadow: #111921;


	--bthColor: #17a2b8;
}

/* footer css */

.py-3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.my-4 {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}

.justify-content-between {
	justify-content: space-between !important;
}

.flex-wrap {
	flex-wrap: wrap !important;
}

.border-top {
	border-top: 1px solid #dee2e6 !important;
}

.d-flex {
	display: flex !important;
}

.col-md-4 {
	flex: 0 0 auto;
	width: 33.33333333%;
}

.mb-md-0 {
	margin-bottom: 0 !important;
}

.text-muted {
	--bs-text-opacity: 1;
	color: #6c757d !important;
}

.text-decoration-none {
	text-decoration: none !important;
}

.lh-1 {
	line-height: 1 !important;
}

.me-2 {
	margin-right: 0.5rem !important;
}

.justify-content-evenly {
	justify-content: space-evenly !important;
}

.nav {
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}