:root {
	--mainColor: #15202B;
	--secondaryColor: #192734;

	--borderColor: #164D56;

	--mainText: #fff;
	--secondaryTest: #eeeeee;

	--themeDotBorder: #FFF;

	--preVieBg: rgb(25, 39, 52, 0.8);
	--previewShadow: #111921;


	--bthColor: #17a2b8;
}