:root{
	--mainColor:#606B56;
	--secondaryColor:#515a48;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryTest:#eeeeee;

	--themeDotBorder:#FFF;

	--preVieBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;


	--bthColor:#669966;


}