:root{
	--mainColor:#46344E;
	--secondaryColor:#382a3f;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryTest:#eeeeee;

	--themeDotBorder:#FFF;

	--preVieBg:rgb(29, 21, 32, 0.8);
	--previewShadow:#2b202f;


	--bthColor:#669966;
}